body {
    background-color: rgb(71, 67, 67);
    text-align: justify;
    align-items: center;
    color: white;

}
img:hover {
    transform: scale(1.1);
}
.logo {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    transition: 0.3s ease;
}
.inline {
    display: flex;
    align-items: center;
    gap: 12px;
    align-items: center;
    justify-content: center;
    background-image: url(background1.jpg);
    background-image: linear-gradient(to bottom, rgba(0,0,0,0)0%, rgba(0,0,0,7)100%), url(background1.jpg);
    background-size: cover;
}
.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: cursive;
    font-style: bold;
}
.title {
    margin: 0;
    font-size: 1.5rem;
    color: goldenrod;
    font-size: xx-large;
    background-color: black;
}
.slogan {
    margin: 0;
    font-size: 0.9rem;
    color: silver;
}
.fastlinks {
    display: flex;
    justify-content: center;
    padding: 0px;
    align-items: center;
    background-color: gray;
}
.button {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
    margin: 2;
}
.button li a {
    text-decoration: none;
    color: brown;
    transition: color 0.3s;
}
.button li a:hover {
    color: blue;
}
h2,h3 {
    text-align: center;
}
.th {
    background-color: rgb(26, 48, 48);
    color: silver;
    font-weight: bold;
}
.web {
    background-color: rgb(43, 56, 66);
}
table {
    background-color: rgb(19, 21, 22);
    text-align: justify;
}
#contact {
    display: flex;
    background-color: blueviolet;
    list-style: none;
    text-align: center;
    justify-content: center;
}
.wa {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: 0.3s ease;
    padding: 3px;
}
#tel {
    padding-top: 5px;
}
#foot {
    text-align: center;
}
#top {
    position: sticky;
    top: 0px;
    width: 100%;
}